@import url('./__header-container/results__header-container.css');
@import url('./__link/results__link.css');
@import url('./__title/results__title.css');
@import url('./__card-link/results__card-link.css');
@import url('./__path-icon/results__path-icon.css');
@import url('./__cards-container/results__cards-container.css');
@import url('./__card/results__card.css');
@import url('./__card-image/results__card-image.css');
@import url('./__card-info/results__card-info.css');
@import url('./__card-date/results__card-date.css');
@import url('./__card-title/results__card-title.css');
@import url('./__card-text/results__card-text.css');
@import url('./__card-source/results__card-source.css');
@import url('./__more-button/results__more-button.css');
@import url('./__more-button-text/results__more-button-text.css');
@import url('./__error-message/results__error-message.css');
@import url('./__error-message-text/results__error-message-text.css');

.results {  
    width: auto;
    margin: auto;
    padding-top: 80px;
    background: #F5F6F7;
    padding-bottom: 80px;
    padding-left: 104px;
    padding-right: 104px;
    display: none;
}

/* @media screen and (max-width: 1250px) {  
  .results {
    padding-left: 80px;
    padding-right: 80px;    
  }
} */

@media screen and (max-width: 872px) {  
    .results {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
      padding-top: 40px;
    }
}

@media screen and (max-width: 760px) {    
    .results {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 32px;
      padding-bottom: 44px;
    }  
}

@media screen and (max-width: 540px) {    
    .results {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 32px;
      padding-bottom: 44px;
    }
}
  