.commits__card {    
    width: 100%;
    height: 288px;    
    background: #FFFFFF;
    border-radius: 16px;
    padding-left: 24px;
    padding-top: 24px;
}

.commits__card:hover {
    box-shadow: 0 0 58px rgba(8, 29, 45, 0.1);    
}

@media screen and (max-width: 768px) {    
    .commits__card {
        padding-right: 16px;
        height: 242px;
    }
}

