.analytics__mentions {
    margin: 0px;    
    background: #2F71E5;
    color: #fff;
    height: 24px;  
    padding-left: 5px; 
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;   
    letter-spacing: 0.4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 320px) {    
    .analytics__mentions {
        margin-left: 16px; 
    }
}