@import url('./__message/preloader__message.css');
@import url('./__circle/preloader__circle.css');

.preloader {
	display: none;
	position: relative;
	background: #F5F6F7;
	height: 282px;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}