.author {
  width: auto;
  display: flex;
  flex-direction: row;   
  padding-top: 80px;
  padding-bottom: 80px;
}

.author__avatar {  
  width: 464px;
  margin-left: 104px;
  height: 464px;  
  border-radius: 1000px;  
}

.author__info {  
  margin: 0;
  margin-top: 51px;
  margin-left: 56px;
  max-width: 600px;
  margin-right: 50px;
}

.author__text {
  margin: 0; 
  margin-top: 24px;  
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;  
}

@media screen and (max-width: 1230px) {
  .author__avatar {
    width: 400px;
    height: 400px;
  }

}

@media screen and (max-width: 900px) {
  .author__avatar {
    width: 350px;
    height: 350px;
  }

}

@media screen and (max-width: 872px) {
  .author {    
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .author__avatar {
    margin-left: 40px;    
    height: 232px;
    width: 232px;
  }

  .author__title {
    font-size: 30px;
  }

  .author__info {
    margin-top: 2px;
    margin-left: 32px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 540px) {
  .author {
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .author__avatar {
    height: 272px;
    width: 272px;
    margin: 0;
    align-self: center;    
  }

  .author__info {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 24px;    
  }
}