.footer {    
    height: 80px;
    width: auto;
    display: flex;
    padding-left: 104px;
    padding-right: 104px;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    margin: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #B6BCBF;
}

.footer__links-container {
    margin: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;  
}

.footer__link {
    margin-left: 39px;
}

.footer__icons-container {
    margin: 0;    
}

.footer__icon {
    margin-left: 28px;
}

@media screen and (max-width: 872px) {
    .footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer__link {
        margin-left: 25px;
    }
}

@media screen and (max-width: 700px) {
   .footer__links-container {
       display: flex;
       flex-direction: column;
   }
}

@media screen and (max-width: 540px) {
    .footer {        
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 20px;
        height: 224px;
        align-items: flex-start;
    }

    .footer__links-container {
        display: flex;
        flex-direction:  column;
        height: 120px;
        justify-content: space-between;
    }

    .footer__link {
        margin: 0;
    }

    .footer__copyright {
        position: absolute;
        bottom: 22px;
    }
}