.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 80px; 
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header_different-underline {
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.link {
  text-decoration: none;
  color: #1A1B22;
}

.header__link {
  color: #B6BCBF;
  font-size: 18px;
  margin-left: 34px; 
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif; 
  font-weight: normal;
}

.header__link_analytics:hover {
  color: #1A1B22;
}

.header__link_chosen {
  border-bottom: 3px solid white;
  color: #ffffff;
  padding-bottom: 26px;
  font-weight: bold;
}

.header__logo {
  color: #ffffff;
  font-size: 20px;
  margin-left: 104px;
  width: fit-content;  
  font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.header__links-container {  
  margin-right: 101px;  
}

.header__logo_about {
    color: #1A1B22;
}

.header__link_chosen_about {
    border-bottom: 3px solid #1A1B22;
    color: #1A1B22;
}

@media screen and (max-width: 872px) {
  .header {
    height: 64px;
  }

  .header__logo {
    margin-left: 40px;
  }

  .header__links-container {    
    margin-right: 42px;  
  }
  
  .header__link_chosen {
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 56px; 
  }

  .header__logo {
    font-size: 16px;
    margin-left: 16px;
  }

  .header__links-container {
    margin-right: 14px;
  }

  .header__link {
    font-size: 16px;
    margin-left: 11px; 
  }

  .header__link_chosen {
    padding-bottom: 14px;
  }
}