@font-face {
    src: url('../vendor/robotoslab-regular-webfont.woff');
    font-family: 'Roboto Slab';
    font-weight: normal;
  }
  
  @font-face {
    src: url('../vendor/roboto-regular-webfont.woff');
    font-family: 'Roboto';
    font-weight: normal;
  }
  
  @font-face {
    src: url('../vendor/roboto-medium-webfont.woff');
    font-family: 'Roboto';
    font-weight: bold;
  }
  
body {
    margin: 0;
}

.page {
    width: 100%;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    margin: 0px;
    font-family: Roboto Slab, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #1A1B22; 
}

.stats {
    padding-top: 40px;
    padding-left: 104px;
    padding-bottom: 80px;
}

.stats__path {
    display: flex;
    width: fit-content;
}

.stats__analytics-text {
    margin: 0;
    color: #B6BCBF;
    margin-left: 5px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.stats__link {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.stats__title {
    margin-top: 80px;
    margin-bottom: 24px;   
    width: fit-content; 
}

.stats__text {
    margin: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    width: fit-content;
}

.stats__text:nth-of-type(2) {
    margin-top: 4px;
}

.stats__numbers {
    font-weight: bold;
}

.analytics {
    width: auto;
    background: #F5F6F7;
    padding-left: 104px; 
    padding-right: 104px; 
    padding-top: 80px;  
    padding-bottom: 115px;
}

.analytics__title {
    font-family: Roboto Slab, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    width: fit-content;
    margin: 0px;
}  

.analytics__chart-header {
    margin: 0px; 
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;      
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

.analytics__line {
    position: absolute;
    top: 40px;
    border: 1px solid #1A1B22;
    width: 100%;
}

.analytics__mention-numbers-container {
    position: absolute;
    display: flex;
    width: calc(100% - 104px);
    top: 55px;
    justify-content: space-between;   
    margin-left: 105px; 
} 

.analytics__mention-numbers-container_bottom {
    top: 605px;
}

.analytics__chart {
    display: grid;
    position: relative;
    grid-template-columns: 104px calc(100% - 104px);
    grid-auto-columns: minmax(min-content, max-content);
    row-gap: 56px;    
    width: 100%;
    justify-content: center; 
    margin-top: 48px;
}  

.analytics__date {
    margin: 0px;
    width: 104px;      
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;    
    color: #1A1B22;
}

.analytics__mentions {
    margin: 0px;    
    background: #2F71E5;
    color: #fff;
    height: 24px;  
    padding-left: 5px; 
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;   
    letter-spacing: 0.4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .stats {
        padding-top: 32px;
        padding-bottom: 40px;
        padding-left: 40px;
    }

    .stats__title {
        font-size: 32px;
        margin-top: 64px;
    }

    .analytics {
        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 76px;
        padding-left: 40px;        
    }

    
} 

@media screen and (max-width: 320px) {
    .stats {
        padding-top: 16px;
        padding-bottom: 24px;
        padding-left: 16px;
    }

    .stats__title {
        font-size: 30px;
        margin-top: 0;
    }

    .stats__path {
        display: none;
    }

    .analytics {
        padding-top: 24px;
        padding-right: 16px;
        padding-bottom: 38px;
        padding-left: 16px;        
    }

    .analytics__title {
        font-size: 22px;
    }

    .analytics__chart {
        margin-top: 16px;
        grid-template-columns: 64px calc(100% - 64px);
        row-gap: 24px;
    }

    .analytics__mentions {
        margin-left: 16px; 
    }

    .analytics__chart-header:nth-of-type(2) {
        margin-left: 16px;
    }

    .analytics__mention-numbers-container {
        width: calc(100% - 64px);
        margin-left: 64px; 
        display: none;
    }

    .analytics__mention-numbers-container_bottom {
        display: none;
    }
}