@font-face {
  src: url('../vendor/robotoslab-regular-webfont.woff');
  font-family: 'Roboto Slab';
  font-weight: normal;
}

@font-face {
  src: url('../vendor/roboto-regular-webfont.woff');
  font-family: 'Roboto';
  font-weight: normal;
}

@font-face {
  src: url('../vendor/roboto-medium-webfont.woff');
  font-family: 'Roboto';
  font-weight: bold;
}

body {
  margin: 0;
}

.page {
  width: 100%;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin: 0;
  font-family: Roboto Slab, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #1A1B22; 
}

.search {
  position: relative;  
  width: auto;   
}

.search__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.search__container {
  width: 608px;
  margin: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 80px;
}

.search__title {
  margin: 0px;  
  width: 100%;  
  height: fit-content;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 32px;
  color: #ffffff;
  font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.search__subtitle {
  margin: 0;   
  width: 100%;
  height: 48px;
  font-size: 18px;
  margin-bottom: 64px;
  color: #ffffff;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.search__form {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.search__input {    
  display: block;
  width: 608px;
  height: 64px;
  box-sizing: border-box;  
  border-radius: 100px;  
  border-color: transparent;
  padding-left: 24px;
  caret-color: #2F71E5;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.search__input:focus {
  outline: none;
}

.search__submit-button {
  position: absolute;
  right: 0;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  border-color: transparent;
  background: #2F71E5;  
  color: #ffffff;  
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.search__submit-button:hover {
  cursor: pointer;
  background: #347EFF;
}

.search__submit-button:active {  
  background: #2A65CC;
  outline: none;
}

.search__submit-button:focus {  
  outline: none;
}

.no-results {  
  width: auto;
  padding-top: 86px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.no-results__title {
  width: fit-content;
  margin: 0;
  font-family: Roboto Slab, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #1A1B22;
  text-align: center;
}

.no-results__text {
  width: fit-content;
  margin: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #B6BCBF;
  text-align: center;
}

.no-results__image {
  width: 96px;
  height: 96px;
}

.results {  
  width: auto;
  margin: auto;
  padding-top: 80px;
  background: #F5F6F7;
  padding-bottom: 80px;
  padding-left: 104px;
  padding-right: 104px;
}

.results__header-container {  
  display: flex;  
}

.results__link {
  margin-left: auto;
  align-self: center;
  font-size: 18px;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.results__card-link {
  width: 100%;
  height: auto;
}

.results__path-icon {
  margin-left: 10px;
}

.results__cards-container {
  width: auto;
  margin: auto;
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  column-gap: 16px;  
  row-gap: 16px;    
}

.results__card {  
  position: relative;
  width: 100%;  
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #ffffff;  
}

.results__card:hover {
  box-shadow: 16px 9px 58px rgba(8, 29, 45, 0.1);
  /* filter: blur(58px); */
}

.results__card-image {  
  width: 100%;  
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.results__card-info {   
  margin: 0;
  width: auto;
  height: auto;
  position: relative;   
  flex: 1 1 auto;  
  display: flex;
  flex-direction: column;  
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 54px;
}

.results__card-date {
  margin: 0;
  margin-top: 20px;  
  font-size: 18px;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #B6BCBF;
}

.results__card-title {
  margin: 0;
  margin-top: 12px;
  font-size: 26px;  
  line-height: 25px; 
  font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.results__card-text {
  margin: 0;
  margin-top: 16px;
  font-size: 16px; 
  max-width: 500px; 
  max-height: 110px;  
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;  
  display: block;   
  overflow: hidden; 
  text-overflow: ellipsis;

  display: -webkit-box;
  line-height: 22px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.results__card-source { 
  position: absolute; 
  margin: 0;  
  bottom: 24px;
  left: 24px;
  font-size: 16px;  
  font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #B6BCBF;
}

.results__more-button {
  position: relative;
  height: 64px;
  width: 288px;
  margin: auto;
  margin-top: 64px;  
  background: #ffffff;
  border-radius: 80px;  
}

.results__more-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.results__more-button-text {  
  margin: 0;
  font-size: 18px;  
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

@media screen and (max-width: 980px) {
  .results__card-title {
    font-size: 22px;
  } 
}

@media screen and (max-width: 872px) {
  .search__container {
    width: 452px;
    padding-top: 40px;
  }

  .search__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
    width: 385px;
    height: fit-content;
  }

  .search__subtitle {
    height: 72px;
    margin-bottom: 24px;
  }

  .search__form {
    margin-bottom: 48px;
  }

  .search__input {
    height: 56px;
  }

  .search__submit-button {
    height: 56px;
  }

  .results__cards-container {
    column-gap: 8px;
    margin-top: 32px;
  }

  .results__card-info {
    margin-left: 16px;
    margin-right: 16px;
  }

  .results__card-date {
    margin-top: 16px;
  } 

  .results__card-title {
    font-size: 22px;
    margin-top: 12px;
    height: fit-content;    
  }

  .results__card-text {
    margin-top: 10px;
    max-width: auto;
    height: 88px;  
    -webkit-line-clamp: 4;  
  }

  .results__card-source {    
    bottom: 16px;
    left: 16px;
  } 

  .results {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .results__more-button {
    margin-top: 22px;    
  }
}

@media screen and (max-width: 760px) {
  .results__cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .results__title {
    width: 270px;
  } 

  .results__card-title {
    font-size: 18px;
  }

  .results {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 44px;
  }  
}

@media screen and (max-width: 540px) {
  .search__title {
    width: fit-content;
  }

  .search__subtitle {
    font-size: 20px;
    height: 136px;
    margin-bottom: 24px;
  }

  .search__container {
    width: 288px;
  }

  .search__submit-button {
    top: 72px;
    width: 288px;
    font-size: 18px;
  }

  .search__form {
    margin-bottom: 104px;
  }

  .results {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 44px;
  }

  .results__header-container {
    flex-direction: column;
  }

  .results__title {
    font-size: 30px;
  }

  .results__link {
    margin-left: 0;
    margin-top: 16px;
    align-self: flex-start;
  }

  .results__cards-container {
    grid-template-columns: 1fr;
  } 

  .results__card-info {
    margin-left: 16px;
    margin-right: 16px;
  }

  .results__card-title {
    font-size: 22px;
  }

  .results__more-button {
    margin-top: 13px;
  }

}