.technologies__text {
    margin: 0;
    margin-bottom: 23px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #1A1B22;
    text-align: center;
}