@import url('./__title/no-results__title.css');
@import url('./__text/no-results__text.css');
@import url('./__image/no-results__image.css');

.no-results {  
    width: auto;    
    padding-top: 86px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    background-color: #F5F6F7;
}