.stats__analytics-text {
    margin: 0;
    color: #B6BCBF;
    margin-left: 5px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}