.technologies__container {    
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    justify-items: center;
    width: 570px;    
    margin-top: 13px;
}

@media screen and (max-width: 1024px) {    
    .technologies__container {
        margin: 0;
        margin-top: 40px;
        width: auto;
    }
}

@media screen and (max-width: 580px) {    
    .technologies__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 40px;
    }
}