
@import url('./__link/header__link.css');
@import url('./__logo/header__logo.css');
@import url('./__logo/_about/header__logo_about.css');
@import url('./__links-container/header__links-container.css');
@import url('./_index-underline/header_index-underline.css');
@import url('./_about-underline/header_about-underline.css');

.header {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 80px;    
}

@media screen and (max-width: 872px) {
  .header {
    height: 64px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 56px; 
  }
}